<!DOCTYPE html>
<html lang=ja>
  <head>
    <title>Lookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
        <%= link_to root_path do %>
          <%= image_tag('Lookbook_logo.jpeg', style: 'width:200px;') %>
        <% end %>
      <button type="button" class="navbar-toggler mr-3" data-toggle="collapse" data-target="#Naviber"
              aria-controls="Naviber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Naviber">
        <ul class="navbar-nav ml-4">
          <%= form_with url:'/users/search',method: :get,local: true do |f| %>
            <%= f.text_field :search, placeholder: 'Search User or Post' %>
            <%= select_tag(:option, options_for_select([['USER','1'],['POST','2']])) %>
            <%= submit_tag 'Search', class:'btn btn-info btn-sm' %>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3">
            <i class="fas fa-user-circle"></i>
            <%= link_to 'Mypage', users_user_path(current_user), class: 'text-dark' %>
          </li>
          <li class="nav-item mr-3">
            <%= image_tag('Boots.png', style: 'height:30px;') %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:'text-dark' %>
          </li>
          <li class="nav-item mr-5 btn btn-info">
            <i class="fas fa-pen-alt"></i>
            <%= link_to ' 投稿', new_users_post_path, class: 'text-light' %>
          </li>
          </ul>
        <% elsif admin_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
              <i class="fas fa-list"></i>
              <%= link_to 'シーン', admins_scenes_path, class: 'text-dark' %>
            </li>
            <li class="nav-item mr-3">
              <i class="fas fa-users"></i>
              <%= link_to 'ユーザー', admins_users_path, class:'text-dark' %>
            </li>
            <li class="nav-item mr-3">
              <i class="far fa-folder-open"></i>
              <%= link_to 'ポスト', admins_posts_path, class: 'text-dark' %>
            </li>
            <li class="nav-item mr-5">
              <i class="fas fa-sign-out-alt"></i>
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'text-dark' %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3">
            <%= image_tag('Perfume.png', style: 'height:30px;') %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'text-dark' %>
          </li>
          <li class="nav-item mr-5">
            <%= image_tag('Bag.png', style: 'height:30px;') %>
            <%= link_to 'Sign In', new_user_session_path, class:'text-dark' %>
          </li>
          </ul>
        <% end %>
      </div>
      </nav>
      <div class="container-fluid bg-info sub-nav" style='height: 3.5em;'>
        <% if admin_signed_in? %>
        <% else %>
          <ul class='nav justify-content-center' style='padding-top: 1em;'>
            <li class='nav-item mr-4'>
              <%= link_to 'Scene', users_scenes_path, class: 'text-light'%>
            </li>
            <li class='nav-item mr-4'>
              <%= link_to 'Top Users', users_users_path, class:'text-light' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Top Posts', users_posts_path, class:'text-light'%>
            </li>
          </ul>
        <% end %>
      </div>
    </header>
    <div class='notifications'>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    </div>
    <main style='height: 800px;'>
    <%= yield %>
    </main>
    <footer>
      <ul class="footer-menu">
        <li><%= link_to 'Home', root_path,class: 'text-white' %> ｜</li>
        <li><%= link_to 'Lookbookの使い方', users_help_path, class: 'text-white' %> ｜</li>
        <li><%= link_to 'お問い合わせ', new_users_inquiry_path, class: 'text-white' %></li>
      </ul>
      <p class='m-0'>© All rights reserved by Ayachicken.</p>
  </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
